<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BPAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BPAddin.Properties.Settings>
            <setting name="GeneratedDir" serializeAs="String">
                <value>C:\\_School\\BP\\funkcny_prototyp\\BP_ADDIN\\class_generation_output</value>
            </setting>
            <setting name="ProjectDir" serializeAs="String">
                <value>C:\\_School\\BP\\funkcny_prototyp\\project</value>
            </setting>
            <setting name="UILibraryDir" serializeAs="String">
                <value>C:\\_School\\BP\\funkcny_prototyp\\BP_ADDIN\\BPAddin\\BPAddin\\UILibrary</value>
            </setting>
            <setting name="AppCDPkg" serializeAs="String">
                <value>class diagram</value>
            </setting>
            <setting name="UIDiagramPkg" serializeAs="String">
                <value>UI Diagram</value>
            </setting>
        </BPAddin.Properties.Settings>
    </userSettings>
</configuration>